.LxBcvPly .TxTileOverlay_flyMsg_show, .LxBcvPly .TxTileOverlay_background, .LxBcvPly .TxTileOverlay_brightnessForTouch, .LxBcvPly .TxTouchCtrl {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.LxBcvPly .TxTileOverlay_flyMsg_show, .LxBcvPly .TxTileOverlay_background, .LxBcvPly .TxTileOverlay_brightnessForTouch, .LxBcvPly .TxTouchCtrl {
  position: absolute;
}

.LxBcvPly .TxTopBar_title,
.LxBcvPly .TxForceBlock_error_title,
.LxBcvPly .TxForceBlock_warn_title,
.LxBcvPly .TxForceBlock_showInf_title,
.LxBcvPly .TxInform_share > li,
.LxBcvPly .TxInform_catchPlayRight > div > button,
.LxBcvPly .TxInform_unBuyValidate > li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.LxBcvPly .TxInform_share,
.LxBcvPly .TxInform_unBuyValidate {
  display: block;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.LxBcvPly .TxInform_share::after,
.LxBcvPly .TxInform_unBuyValidate::after {
  content: '';
  display: block;
  clear: both;
}
.LxBcvPly .TxInform_share > li,
.LxBcvPly .TxInform_unBuyValidate > li {
  float: left;
}

.csNone {
  display: none !important;
}

.csDisplayBlock {
  display: block !important;
}

.csVisible {
  visibility: visible !important;
}

.csVisibilityHidden {
  visibility: hidden !important;
}

.LxBcvPly {
  width: 100%;
  height: 100%;
}
.LxBcvPly.vjs-seeking .vjs-loading-spinner:before, .LxBcvPly.vjs-waiting .vjs-loading-spinner:before {
  border-left-color: white;
  animation: vjs-spinner-spin 0.38s linear infinite;
}
.LxBcvPly.vjs-seeking .vjs-loading-spinner:after, .LxBcvPly.vjs-waiting .vjs-loading-spinner:after {
  content: initial;
}
.LxBcvPly .vjs-menu,
.LxBcvPly .vjs-error-display {
  display: none !important;
}
@media (max-width: 400px) {
  .LxBcvPly {
    font-size: 8px;
  }
}
@media (min-width: 400px) and (max-width: 1000px) {
  .LxBcvPly {
    font-size: 2vw;
  }
}
@media (min-width: 1000px) {
  .LxBcvPly {
    font-size: 20px;
  }
}
.LxBcvPly *,
.LxBcvPly *:hover,
.LxBcvPly *:active {
  cursor: default;
}
.LxBcvPly.vjs-fullscreen * {
  cursor: none;
}
.LxBcvPly.vjs-fullscreen.esBGTopTurnOn *, .LxBcvPly.vjs-fullscreen.esBGBottomTurnOn * {
  cursor: default;
}
.LxBcvPly .TxIcon,
.LxBcvPly .TxIcon_before,
.LxBcvPly .TxPlyerTimeLine,
.LxBcvPly .TxPlyerTimeLine *,
.LxBcvPly .TxBarCtrl_voice * {
  cursor: pointer;
}
.LxBcvPly .TxVideoSubstitute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.LxBcvPly .TxTileOverlay {
  pointer-events: none;
}
.LxBcvPly .TxTileOverlay_watching {
  width: 100%;
  height: 1.3em;
  text-align: center;
  position: absolute;
  top: 0.4em;
}
.LxBcvPly .TxTileOverlay_watching div {
  height: 1.3em;
  display: inline-block;
  padding: 0 0.4em;
  position: relative;
  border-radius: 0.1em;
  color: #fff;
}
.LxBcvPly .TxTileOverlay_watching div span {
  font-size: 0.7em;
}
.LxBcvPly .TxTileOverlay_watching_live {
  background-color: #D50000;
}
.LxBcvPly .TxTileOverlay_watching_num {
  margin-left: 0.1em;
  background: rgba(0, 0, 0, 0.3);
}
.LxBcvPly .TxTileOverlay_vidol {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
}
.LxBcvPly .TxTileOverlay_flyMsg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
}
.LxBcvPly .TxTileOverlay_background_top, .LxBcvPly .TxTileOverlay_background_bottom {
  width: 100%;
  height: 50%;
  display: block;
  position: absolute;
  transition: top, bottom 230ms linear;
}
.LxBcvPly .TxTileOverlay_background_top {
  top: -50%;
}
.LxBcvPly .TxTileOverlay_background_bottom {
  bottom: -50%;
}
.LxBcvPly .TxTileOverlay_brightnessForTouch {
  background: rgba(0, 10, 0, 0.6);
  opacity: 0;
}
.LxBcvPly.esBGTopTurnOn .TxTileOverlay_background_top {
  top: 0;
}
.LxBcvPly.esBGBottomTurnOn .TxTileOverlay_background_bottom {
  bottom: 0;
}
body.esPC .LxBcvPly .TxTileOverlay_background_top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent 4em);
}
body.esPC .LxBcvPly .TxTileOverlay_background_bottom {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 4em);
}
body.esMobile .LxBcvPly .TxTileOverlay_background_top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent 112%);
}
body.esMobile .LxBcvPly .TxTileOverlay_background_bottom {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 112%);
}
.LxBcvPly .TxBillboard {
  position: absolute;
  top: 0.4em;
  left: 0;
  right: 0;
  bottom: 0.4em;
  transition: top, bottom 230ms linear;
  pointer-events: none;
}
.LxBcvPly .TxBillboard_dfpBanner {
  position: absolute;
  left: 50%;
  bottom: 0;
  pointer-events: auto;
  box-sizing: content-box;
}
.LxBcvPly .TxBillboard_dfpBanner_default, .LxBcvPly .TxBillboard_dfpBanner_content {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}
.LxBcvPly .TxBillboard_dfpBanner_default, .LxBcvPly .TxBillboard_dfpBanner_close {
  transition: opacity 600ms linear;
  opacity: 0;
  visibility: hidden;
}
.LxBcvPly .TxBillboard_dfpBanner_content {
  overflow: hidden;
}
.LxBcvPly .TxBillboard_dfpBanner_default {
  background-color: rgba(0, 0, 0, 0.4);
}
.LxBcvPly .TxBillboard_dfpBanner_close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0em;
  right: 0em;
  border-radius: 50%;
}
.LxBcvPly .TxBillboard_dfpBanner_close::before {
  content: '';
  width: 15px;
  height: 15px;
  margin: -7.5px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACzSURBVBjTddAtzsJAEADQt1CN/xRBIIFwge8AeAzpabgIHiQCT3qD4hCEQIIkBNtQzLY0gY7YzOzb3wlT8/Lfr9jbhLAqh9riKGQlg594QqcqcvlXRlJN7cCokdUcXMHOxQFcjakO70rj6kPcmep+uPCQ6sf7+lIPxYcpZM6Rz7KINee2oAe29dsjX8DE0qRR1x+bIVi4W3gpzSI3upagiGPVteTmz6ml5zeddXi24NM6vAFhCzSMfomhxwAAAABJRU5ErkJggg==);
}
.LxBcvPly .TxBillboard_dfpBanner.esCanClose .TxBillboard_dfpBanner_default, .LxBcvPly .TxBillboard_dfpBanner.esCanClose .TxBillboard_dfpBanner_close {
  opacity: 1;
  visibility: visible;
}
.LxBcvPly.esBGTopTurnOn .TxBillboard {
  top: 3em;
}
.LxBcvPly.esBGBottomTurnOn .TxBillboard {
  bottom: 3em;
}
.LxBcvPly .TxPlyerTimeLine {
  width: 100%;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.5;
  transition: height, bottom 230ms linear;
}
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_floatShow {
  width: 64px;
  height: 16px;
  margin-left: -32px;
  display: none;
  position: absolute;
  top: -26px;
  left: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.LxBcvPly .TxPlyerTimeLine.esFloat .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esDrag .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_floatShow {
  display: block;
}
@media (max-width: 400px) {
  .LxBcvPly .TxPlyerTimeLine.esFloat .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esDrag .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_floatShow {
    font-size: 8px;
  }
}
@media (min-width: 400px) and (max-width: 1000px) {
  .LxBcvPly .TxPlyerTimeLine.esFloat .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esDrag .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_floatShow {
    font-size: 1.33333vw;
  }
}
@media (min-width: 1000px) {
  .LxBcvPly .TxPlyerTimeLine.esFloat .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esDrag .TxPlyerTimeLine_floatShow, .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_floatShow {
    font-size: 16px;
  }
}
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_buffer,
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_play {
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_buffer {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
}
.LxBcvPly .TxPlyerTimeLine.esLive .TxPlyerTimeLine_buffer {
  width: 0 !important;
}
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_play {
  background: #F5F223;
}
.LxBcvPly .TxPlyerTimeLine .TxPlyerTimeLine_play > b {
  width: 0.6em;
  height: 0.6em;
  border: 0.2em #FFF solid;
  display: none;
  position: absolute;
  top: -0.2em;
  right: -0.5em;
  background: #FFF;
  border-radius: 50%;
  box-sizing: content-box;
}
.LxBcvPly .TxPlyerTimeLine.esLive .TxPlyerTimeLine_play {
  width: 100%;
}
.LxBcvPly .TxPlyerTimeLine.esFloat .TxPlyerTimeLine_play > b, .LxBcvPly .TxPlyerTimeLine.esDrag .TxPlyerTimeLine_play > b, .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_play > b {
  display: block;
}
.LxBcvPly .TxPlyerTimeLine .TxBarCtrl_timeLine_part {
  height: 100%;
}
.LxBcvPly .TxPlyerTimeLine .TxBarCtrl_timeLine_part b {
  width: 0.3em;
  height: 100%;
  margin-left: -0.15em;
  float: left;
  position: absolute;
  left: -0.3em;
  background: rgba(255, 255, 255, 0.3);
}
.LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine {
  height: 0.3em;
  bottom: 2em;
  opacity: 1;
}
.LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine .TxPlyerTimeLine_buffer {
  opacity: 1;
}
body.esMobile .LxBcvPly .TxPlyerTimeLine.esOperate, body.esMobile .LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine {
  height: 0.6em;
}
body.esMobile .LxBcvPly .TxPlyerTimeLine.esOperate .TxPlyerTimeLine_play > b, body.esMobile .LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine .TxPlyerTimeLine_play > b {
  display: block;
  width: 0.6em;
  height: 0.6em;
}
body.esMobile .LxBcvPly .TxPlyerTimeLine.esOperate {
  opacity: 1;
}
body.esMobile .LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine {
  bottom: 0;
  opacity: 0.6;
}
body.esMobile .LxBcvPly.esBarCtrlTurnOn .TxPlyerTimeLine.esOperate {
  opacity: 1;
}
.LxBcvPly .LxBcvPly .TxInform_emailUnValidate {
  text-align: center;
}
.LxBcvPly .LxBcvPly .TxInform_emailUnValidate::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.LxBcvPly .TxTouchCtrl .TxIcon,
.LxBcvPly .TxTouchCtrl .TxIcon_before {
  width: 3em;
  height: 3em;
  float: left;
  position: relative;
}
.LxBcvPly .TxTouchCtrl .TxIcon_before::before {
  width: 2em;
  height: 2em;
  margin: -1em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxTouchCtrl_left {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.LxBcvPly .TxTouchCtrl_center {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  bottom: 0;
}
.LxBcvPly .TxTouchCtrl_center .TxIcon_play, .LxBcvPly .TxTouchCtrl_center .TxTouchCtrl_center_adjust {
  width: 4.2em;
  height: 4.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2em;
}
.LxBcvPly .TxTouchCtrl_center .TxIcon_play {
  display: none;
}
.LxBcvPly .TxTouchCtrl_center .TxIcon_play::before {
  width: 3.6em;
  height: 3.6em;
  margin: -1.8em;
}
.LxBcvPly .TxTouchCtrl_center_adjust {
  display: none;
}
.LxBcvPly .TxTouchCtrl_center_adjustR {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.LxBcvPly .TxTouchCtrl_center_adjustR i.TxIcon_adjustR {
  width: 4.2em;
  height: 4.2em;
  float: left;
  position: absolute;
  bottom: 0;
}
.LxBcvPly .TxTouchCtrl_right {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.LxBcvPly .TxTouchCtrl .TxTouchCtrl_infoState, .LxBcvPly .TxTouchCtrl .TxTouchCtrl_topToolBar, .LxBcvPly .TxTouchCtrl .TxTouchCtrl_toolBar {
  height: 3em;
  position: absolute;
}
.LxBcvPly .TxTouchCtrl .TxTouchCtrl_infoState > *, .LxBcvPly .TxTouchCtrl .TxTouchCtrl_topToolBar > *, .LxBcvPly .TxTouchCtrl .TxTouchCtrl_toolBar > * {
  float: left;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.LxBcvPly .TxTouchCtrl_infoState {
  display: none;
  left: 0.3em;
  bottom: 0.9em;
}
.LxBcvPly .TxTouchCtrl_topToolBar {
  display: none;
  top: 0.3em;
  right: 0.3em;
}
.LxBcvPly .TxTouchCtrl_toolBar {
  display: none;
  right: 0.3em;
  bottom: 0.9em;
}
.LxBcvPly .TxTouchCtrl_timeLine {
  height: 0.6em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.LxBcvPly .TxTouchCtrl.esCloss .TxTouchCtrl_center .TxIcon_play,
.LxBcvPly .TxTouchCtrl.esCloss .TxTouchCtrl_infoState,
.LxBcvPly .TxTouchCtrl.esCloss .TxTouchCtrl_topToolBar,
.LxBcvPly .TxTouchCtrl.esCloss .TxTouchCtrl_toolBar {
  display: none;
}
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxIcon,
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxIcon_before,
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_infoState,
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_topToolBar,
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_toolBar {
  display: none;
}
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_center .TxIcon_play {
  display: none;
}
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_center_adjust {
  display: block;
}
.LxBcvPly .TxTouchCtrl.esAdjustVolume .TxTouchCtrl_center_adjustR i.TxIcon_adjustR {
  display: block;
}
.LxBcvPly.esBarCtrlTurnOn .TxTouchCtrl_center .TxIcon_play, .LxBcvPly.esBarCtrlTurnOn .TxTouchCtrl_infoState, .LxBcvPly.esBarCtrlTurnOn .TxTouchCtrl_topToolBar, .LxBcvPly.esBarCtrlTurnOn .TxTouchCtrl_toolBar {
  display: block;
}
.LxBcvPly .TxBarCtrl {
  height: 2em;
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0.6em;
  right: 0.6em;
  bottom: -2em;
  transition: bottom 230ms linear;
}
.LxBcvPly .TxBarCtrl > *, .LxBcvPly .TxBarCtrl_voice > * {
  float: left;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.LxBcvPly .TxBarCtrl .TxIcon,
.LxBcvPly .TxBarCtrl .TxIcon_before {
  width: 2em;
  height: 2em;
  flex: 0 0 auto;
  float: left;
  position: relative;
}
.LxBcvPly .TxBarCtrl .TxIcon_before::before {
  width: 1.2em;
  height: 1.2em;
  margin: -0.6em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxBarCtrl .TxIcon_play {
  margin-right: 0.3em;
}
.LxBcvPly .TxBarCtrl_time {
  display: block;
  flex: 0 0 auto;
  margin: 0 0.2em;
}
.LxBcvPly .TxBarCtrl_time span {
  float: left;
  font-size: 0.7em;
}
.LxBcvPly .TxBarCtrl_time_duration::before {
  content: "/";
  margin: 0 0.2em;
}
.LxBcvPly .TxBarCtrl_space {
  flex: 1 0 auto;
}
.LxBcvPly .TxBarCtrl_voice {
  min-width: 2em;
  flex: 0 0 auto;
}
.LxBcvPly .TxBarCtrl_voice .TxIcon_voice {
  width: 1.2em;
  height: 1.2em;
  margin: 0.4em;
}
.LxBcvPly .TxBarCtrl_voice .TxIcon_voice .TxBarCtrl_voiceR {
  width: 100%;
  height: 1.2em;
  display: block;
  overflow: hidden;
}
.LxBcvPly .TxBarCtrl_voice .TxIcon_voice .TxBarCtrl_voiceR .TxIcon_voiceR {
  width: 1.2em;
  height: 1.2em;
  float: left;
  position: relative;
}
.LxBcvPly .TxBarCtrl_voice_drawBar {
  width: 3.2em;
  height: 2em;
  margin: 0 0.4em 0 -0.2em;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  transition: width 230ms linear;
}
.LxBcvPly .TxBarCtrl_voice_drawBar div {
  width: 2.432em;
  height: 0.4em;
  margin-top: -0.2em;
  position: absolute;
  top: 50%;
  left: 12%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}
.LxBcvPly .TxBarCtrl_voice_drawBar div b {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 6px;
  box-sizing: content-box;
  background: #F8EB58;
}
.LxBcvPly .TxBarCtrl_voice_drawBar div b::before {
  content: '';
  width: 0.42em;
  height: 0.42em;
  margin-top: -1px;
  margin-right: -0.26em;
  display: block;
  position: absolute;
  right: 0;
  background: #FFF;
  border: 1px #FFF solid;
  border-radius: 50%;
}
.LxBcvPly.esBarCtrlTurnOn .TxBarCtrl {
  bottom: 0;
}
.LxBcvPly .TxTopBar {
  width: 100%;
  height: 2.3em;
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.LxBcvPly .TxTopBar_title {
  height: 2em;
  line-height: 2em;
  padding: 0px 1em 0px 0.4em;
  flex: 1 4 auto;
  color: #FFF;
}
.LxBcvPly .TxTopBar_title span {
  font-size: 1.2em;
}
.LxBcvPly .TxTopBar_otherBtnList {
  flex: 0 0 auto;
  height: 2em;
}
.LxBcvPly .TxTopBar_otherBtnList i {
  width: 2em;
  height: 2em;
  margin: 0;
  float: left;
  opacity: 0.9;
}
.LxBcvPly.esTopBarTurnOn .TxTopBar {
  display: flex;
}
.LxBcvPly.esTopBarListTurnOn .TxTopBar_title .TxTitle {
  display: none;
}
body.esPC .LxBcvPly .TxTopBar_otherBtnList i:hover {
  opacity: 1;
}
body.esMobile .LxBcvPly .TxTopBar_otherBtnList i {
  margin: 0 0.12em;
}
.LxBcvPly .TxCtrlToolBar {
  height: 2em;
  display: none;
  position: absolute;
  right: 0.6em;
  bottom: 2.6em;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}
.LxBcvPly .TxCtrlToolBar > * {
  float: left;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.LxBcvPly .TxCtrlToolBar .TxIcon_before {
  width: 2em;
  height: 2em;
  flex: 0 0 auto;
  float: left;
  position: relative;
}
.LxBcvPly .TxCtrlToolBar .TxIcon_before::before {
  width: 1.6em;
  height: 1.6em;
  margin: -0.8em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxFloatBlock,
.LxBcvPly .TxForceBlock {
  position: absolute;
  box-sizing: content-box;
}
.LxBcvPly .TxFloatBlock.esShowCtrlName {
  display: none !important;
}
.LxBcvPly.esBarCtrlTurnOn .TxFloatBlock.esShowCtrlName {
  display: inline-block !important;
}
.LxBcvPly .TxForceBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.LxBcvPly .TxForceBlock_error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.6);
}
.LxBcvPly .TxForceBlock_error_title {
  height: 2.3em;
  line-height: 2.3em;
  position: absolute;
  top: 0;
  left: 1em;
  right: 50%;
}
.LxBcvPly .TxForceBlock_error_close {
  width: 2.3em;
  height: 2.3em;
  display: block;
  position: absolute;
  top: 0;
  right: 0.4em;
}
.LxBcvPly .TxForceBlock_error_close::before {
  width: 1.8em;
  height: 1.8em;
  margin: -0.9em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxForceBlock_error_content {
  position: absolute;
  top: 2.3em;
  left: 1em;
  right: 1em;
  bottom: 2em;
  line-height: 2em;
  text-align: center;
  overflow: auto;
  overflow-wrap: break-word;
}
.LxBcvPly .TxForceBlock_error_content::before {
  content: '';
  height: 99%;
  display: inline-block;
  vertical-align: middle;
}
.LxBcvPly .TxForceBlock_error_content * {
  width: 99%;
  display: inline-block;
  vertical-align: middle;
}
.LxBcvPly .TxForceBlock_warn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.6);
}
.LxBcvPly .TxForceBlock_warn_title {
  height: 2.3em;
  line-height: 2.3em;
  position: absolute;
  top: 0;
  left: 1em;
  right: 50%;
}
.LxBcvPly .TxForceBlock_warn_close {
  width: 2.3em;
  height: 2.3em;
  display: block;
  position: absolute;
  top: 0;
  right: 0.4em;
}
.LxBcvPly .TxForceBlock_warn_close::before {
  width: 1.8em;
  height: 1.8em;
  margin: -0.9em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxForceBlock_warn_close {
  display: none;
}
.LxBcvPly .TxForceBlock_warn_content {
  position: absolute;
  top: 2.3em;
  left: 1em;
  right: 1em;
  bottom: 2em;
}
.LxBcvPly .TxForceBlock_showInf {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.6);
}
.LxBcvPly .TxForceBlock_showInf_title {
  height: 2.3em;
  line-height: 2.3em;
  position: absolute;
  top: 0;
  left: 1em;
  right: 50%;
}
.LxBcvPly .TxForceBlock_showInf_close {
  width: 2.3em;
  height: 2.3em;
  display: block;
  position: absolute;
  top: 0;
  right: 0.4em;
}
.LxBcvPly .TxForceBlock_showInf_close::before {
  width: 1.8em;
  height: 1.8em;
  margin: -0.9em;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}
.LxBcvPly .TxForceBlock_showInf_content {
  position: absolute;
  top: 2.3em;
  left: 1em;
  right: 1em;
  bottom: 2em;
}
